/* static/css/styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5; /* Light grey background */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #343a40;
}

h3 {
    font-weight: 700;
    color: #343a40;
}

.card {
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-header {
    font-weight: bold;
    font-size: 1rem;
}

.card-body h5, .card-body h4 {
    font-size: 1.5rem;
}

.navbar-brand img {
    height: 40px;
}

.navbar {
    box-shadow: 0 4px 6px -6px #222;
}

/* Additional Styling for EPS Card */
.eps-card {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.eps-card .card-header, .eps-card .card-title {
    font-family: 'Montserrat', sans-serif;
}

.eps-card .card-title {
    font-size: 2rem;
    font-weight: 700;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 300px;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s;
}

.form-control {
    width: auto;
    display: inline-block;
}
